
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #222;
  color: white;
}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #262626;
  padding: 20px 40px;
}


.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
  margin-right: 10px;
}

.logo span {
  font-size: 24px;
  font-weight: bold;
  color: white;
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  position: relative;
}

.nav-links a:hover,
.nav-links .active {
  color: orange;
}

.cta-button {
  padding: 10px 20px;
  border: 1px solid orange;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  transition: 0.3s ease;
}

.cta-button:hover {
  background-color: orange;
  color: #222;
}
